nav{
  display: flex;
  margin-bottom: 20px;
  text-align: center;
  background-image: url("../images/bann.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color : white;
  font-family: chivo;
  font-family: 'Archivo Black', sans-serif;
}

.gauche {
  justify-content: space-between;
  width: 10%;
}

.center {
  margin-left: 20%;
}

.img-size {
  width: 60px;
  margin-top: 20px;
  margin-left: 30px;
}

nav h1 {
  text-align: center;
  font-weight: bold;
  font-size:40px;
  /*text-shadow: 1px 1px 1px black;*/
}

@media (min-width: 768px) {
.center {
  margin-left: 31%;
  }
}

